main {
  background-color: #000;
  padding-bottom: 50px;
  padding-top: 50px;
}

.main-container {
  align-items: center;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

.logo h1 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  font-size: 6rem;
  font-family: 'Montserrat Alternates', sans-serif;
}


.main-texto h2 {
  color: #fff;
  font-size: 3rem;
  font-family: 'Montserrat Alternates', sans-serif;
  text-transform: uppercase;
  text-align: justify;
  gap: 10px;
  align-items: center;
}

.main-discord {
  margin-top: 20px;
}

.main-discord a {
  font-size: 2rem;
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  text-transform: uppercase;
  align-items: center;
}

.main-subtexto {
  background-color: #1E1F22;
  padding: 16px;
  margin-top: 40px;
  border-radius: 5px;
}

.main-subtexto p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 2rem;
}

.main-ligas {
  grid-column: 1/3;
}

.main-ligas ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 20px;
  gap: 10px;
}

.main-ligas li {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #1E1F22;
}

.main-ligas img {
  margin-right: 10px;
}

.main-ligas li:hover {
  background-color: #27282c;
  cursor: pointer;
}

@media (max-width: 800px) {
  .main-texto {
    grid-column: 1/3;
  }

  .main-texto h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .logo h1 {
    font-size: 4rem;
  }
  
  .main-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .main-texto h2 {
    font-size: 2rem;
  }

  .main-ligas li {
    text-align: center;
  }

  .jogador-informacao {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 800px) {
  .main-discord img {
    display: none;
  }

  .main-discord {
    text-align: center;
  }

  .main-discord p {
    padding: 15px;
    background-color: #27282c;
    margin-bottom: 6px;
    border-radius: 5px;
  }

  .main-discord p:hover {
    background-color: #414349;
  }
}

@media (max-width: 500px) {
  .main-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}